* {
      box-sizing: border-box;
    }
	/* CSS styling for all elements on the page */
    #input_id{
      height: 10vh;
      width: 80%;
      border-style: solid
      border-radius: 4px;
      position: relative;
      left: 5px;
      font-size: 18px;
    }
    
	#button{
      position: relative;
      left: 5px;
      display: inline-block;
      width: 20vh;
      height:10vh;
      font-size: 18px;
      font-family: Arial, sans-serif;
    }
    
	h1{
      position: relative;
      left:5px;
      font-family: Arial, sans-serif;
	  color:blue;
    }
    
	#underForm{
      position: relative;
      left: 5px;
      display: inline-block;
      font-size: 22px;
      font-family: Arial, sans-serif;
    }
    
	table, th, td {
      border: 1px solid black;
	  border-collapse: collapse;
      font-size: 23px;
      font-family: Arial, sans-serif;
	  padding: 5px;
    }
	
	img {
		width:70vh; 
		float: left
	}